body {
  background-color: #FCC0E4;
}

img {
  width: 80%;
  height: auto;
  border-radius: 18px;
}

h1 {
  font-size: 200px;
  text-align: center;
}

ul {
  border-radius: 9px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
  font-style: italic;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F593CE;
}

.active {
  background-color: #F593CE;
}
table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
